{% extends "account/base.html" %}

{% load account i18n widget_tweaks  %}

{% block meta_description %}
{% trans "Log In - Art Therapy Guide" %}
{% endblock %}

{% block head_title %}{% trans "Log In - Art Therapy Guide" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 p-4 ">
            <div class="p-3 shadow login-card">
                <div class="pb-4">
                    <h1 class="display-6 text-center">The Art Therapy Guide</h1>
                    <h6 class="d-flex justify-content-center text-muted">Please log in or sign up for an account</h6>
                </div>
                <div>
                    <form class="login" method="POST" action="{% url 'account_login' %}">

                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" placeholder="" %}
                            {% if field.errors %}{{ field.errors }}{% endif %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}

                        </div>
                        {% endfor %}
                        {% for hidden in form.hidden_fields %}

                        {# Include the hidden fields in the form #}
                        {{ hidden.errors.as_ul }}
                        {% render_field hidden class="form-control" placeholder="" %}

                        {% endfor %}

                        {% csrf_token %}
                        <div class="row text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="col">
                                <a href="{{ signup_url }}" class="text-reset text-decoration-none"><button type="button"
                                        class="btn btn-secondary">Sign up</button></a>
                            </div>
                        </div>
                        <div class="row pt-4">
                            </br>
                            <a class="text-reset" href="{% url 'account_reset_password' %}">
                                <h6 class="text-center text-muted">Forgot Password</h6>
                            </a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}