{% extends "account/base.html" %}


{% load account i18n widget_tweaks  %}


{% block meta_description %}
{% trans "Change Password - Art Therapy Guide" %
{% endblock %}

{% block head_title %}{% trans "Change Password - Art Therapy Guide" %}{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 p-4 mb-5">
    <div class="border rounded-lg p-3 shadow">
        <h1 class="d-flex justify-content-center">{% trans "Change Password" %}</h1>
        <form class="login" method="POST" action="{% url 'account_change_password' %}">

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="mb-3">
                {{ field.label_tag }}
                {% render_field field class="form-control" placeholder="" %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                {% if field.help_text %}

                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}

            {# Include the hidden fields in the form #}
            {{ hidden.errors.as_ul }}
            {% render_field hidden class="form-control" placeholder="" %}

            {% endfor %}

            {% csrf_token %}
            <div class="row text-center">
                <div class="col">
                    <button type="submit" class="btn btn-primary"
                        style="background-color: #fb7359; border-color:#fb7359;">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}