{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block meta_description %}
{% trans "Change Password - Art Therapy Guide" %
{% endblock %}

{% block head_title %}{% trans "Change Password - Art Therapy Guide" %}{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 p-4 mb-5">
    <div class="border rounded-lg p-3 shadow">
        <h1 class="d-flex justify-content-center">{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}