{% extends "account/base.html" %}

{% load account i18n widget_tweaks  %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="main">
    <div class="col-md-6 offset-md-3 p-4 mb-5">
        <div class="border rounded-cards p-3 shadow">
            <h1 class="d-flex justify-content-center">{% trans "Password Reset" %}</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-center">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" placeholder="" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}

                </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}

                {# Include the hidden fields in the form #}
                {{ hidden.errors.as_ul }}
                {% render_field hidden class="form-control" placeholder="" %}

                {% endfor %}

                {% csrf_token %}
                <div class="row text-center">
                    <div class="col">
                        <input type="submit" class="btn btn-block btn-primary"
                            value="{% trans 'Reset My Password' %}" />
                    </div>
                </div>

            </form>
            </br>
            <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>

        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}