{% extends "account/base.html" %}

{% load account static i18n widget_tweaks  %}

{% block meta_description %}
{% trans "Sign Up - Art Therapy Guide" %}
{% endblock %}

{% block head_title %}{% trans "Sign Up - Art Therapy Guide" %}{% endblock %}


{% block content %}
<div class="container-fluid ps-md-0" style="background-color: #fb7359">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6" style="background-image: url('{% static 'introimage.jpg' %}');
            background-size: cover;
            background-position: center;"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto p-4 shadow login-card" style="background-color: #ffffff">

                            <div class="pb-4">
                                <h1 class="display-6 text-center"><a href="{% url 'home' %}"
                                        class="text-reset text-decoration-none"> The Art
                                        Therapy Guide</a>
                                </h1>
                                <h6 class="d-flex justify-content-center text-muted">Please sign up for an
                                    account here</h6>
                            </div>
                            <div>
                                <form class="login-nice" method="POST" action="{% url 'account_signup' %}">

                                    {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                    {% endfor %}

                                    {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form.non_field_errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                    {% for field in form.visible_fields %}
                                    <div class="mb-3">
                                        {{ field.label_tag }}
                                        {% render_field field class="form-control" placeholder="" %}
                                        {% if field.errors %}{{ field.errors }}{% endif %}
                                        {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    {% for hidden in form.hidden_fields %}

                                    {# Include the hidden fields in the form #}
                                    {{ hidden.errors.as_ul }}
                                    {% render_field hidden class="form-control" placeholder="" %}

                                    {% endfor %}

                                    {% csrf_token %}
                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary"
                                                style="background-color: #fb7359; border-color:#fb7359;">Sign
                                                Up</button>
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        </br>
                                        <a class="text-reset" href="{% url 'account_login' %}">
                                            <h6 class="text-center text-muted">Log in
                                            </h6>
                                        </a></div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}