{% extends "base.html" %}

{% block meta_description %}

{% endblock %}

{% block head_title %}
Directive - Art Therapy Guide
{% endblock %}

{% block content %}
<div class="container">

    <div class="media shadow p-4 mb-4">

        <div class="media-body">
            <h2 class="my-4">{{ page.title | title }}</h2>
            <h6 class="text-muted">Posted by: {{ page.posted_by }} {{ page.created|timesince }} ago</h6>
            <div class="row">
                <div class="col">
                    {% for population in page.population.all %}
                    <span class="badge rounded-pill bg-primary">{{ population.name }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% for diagnosis in page.diagnosis.all %}
                    <span class="badge rounded-pill bg-primary">{{ diagnosis.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="py-3">
                <h4>Introduction</h4>
                {{page.intro}}
            </div>
            <div class="py-3">
                <h4>Objectives</h4>
                <ol class="">
                    {% for objective in page.objectives.all %}
                    <li class="">{{ objective.objective }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="py-3">
                <h4>Materials</h4>
                <ol class="">
                    {% for material in page.materials.all %}
                    <li class="">{{ material.material }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}