{% extends "base.html" %}

{% block meta_description %}
Listing page for all directives that have been posted. These directives are free to be used in your art therapy
practice. We encourage you to submit your own!
{% endblock %}

{% block head_title %}
All Directives - Art Therapy Guide
{% endblock %}

{% block content %}

{% include "navbar.html" %}
<div class="main mb-4">
    <div class="container mt-4">
        <form method="GET" id="directiveForm" action=".">
            <div class="row mb-2 mb-md-4 gap-2 gap-md-0">
                <div class="col-md-4 col-lg-5">
                    <label for="search" class="form-label">Search</label>
                    <input class="form-control border-right-0 border" type="search" name="search" id="search"
                        placeholder="Search..." value="{% if request.GET.search %}{{ request.GET.search}}{% endif %}" />
                </div>
                <div class="col-md-3 col-lg-3">
                    <label for="diagnosis" class="form-label">Diagnosis</label>
                    <select id="diagnosis" class="form-select" name="diagnosis">
                        {% if request.GET.diagnosis %}
                        <option selected value="{{ request.GET.diagnosis}}">{{ request.GET.diagnosis}}</option>
                        {% endif %}
                        <option value=""></option>
                        {% for aud in diagnosis %}
                        <option value="{{ aud }}">{{ aud }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 col-lg-3">
                    <label for="population" class="form-label">Population</label>
                    <select id="population" class="form-select" name="population">
                        {% if request.GET.population %}
                        <option value="{{ request.GET.population}}">{{ request.GET.population}}</option>
                        {% endif %}
                        <option value=""></option>
                        {% for aud in population %}
                        <option value="{{ aud }}">{{ aud }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 d-flex align-items-end col-lg-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'new_directive_post' %}" class="btn btn-secondary">New Directive</a>
                </div>
            </div>
        </form>

        <br>
        <div class="row pb-3">
            <div class="col-6">
                {% if page_obj.paginator.count <= 100 %}
                <div class=""><b>{{ page_obj.paginator.count }}</b> Results</div>
                {% endif %}
                {% if page_obj.paginator.count > 100 %}
                <div class="">100+ Results</div>
                {% endif %}
            </div>
        </div>



        <div class="row row-cols-1 row-cols-lg-3 g-4">
            {% for post in posts %}
            <div class="col mb-4">
                <div class="card shadow h-100">
                    {% if post.images.all %}
                    <img src="{{ post.images.all.0.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <div class="row">
                            <div class="col text-muted"> Population:
                                {% for population in post.population.all %}
                                <span class="badge rounded-pill bg-primary">{{ population.name }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-muted">Diagnosis:
                                {% for diagnosis in post.diagnosis.all %}
                                <span class="badge rounded-pill bg-primary">{{ diagnosis.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <p class="card-text">{{ post.intro }}
                        </p>
                        <a class="btn btn-primary stretched-link"
                            href="{% url 'detail_directive_post' uuid=post.uuid %}">Read More</a>
                    </div>
                    <div class="card-footer bg-transparent border-transparent">


                        <small class="text-muted">Posted by: {{ post.posted_by }} {{ post.created|timesince }}
                            ago</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>





        {% if is_paginated %}
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination justify-content-center mb-4">

                        {% if page_obj.has_previous %}
                        <li class="page-item"><a
                                href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if request.GET.diagnosis %}&diagnosis={{ request.GET.diagnosis }}{% endif %}{% if request.GET.population %}&population={{ request.GET.population }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                class="btn btn-outline-secondary mx-1"><span>&laquo;</span></a></li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                        <li class="page-item"><a
                                href="?page={{ page_num }}{% if request.GET.diagnosis %}&diagnosis={{ request.GET.diagnosis }}{% endif %}{% if request.GET.population %}&population={{ request.GET.population }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                class="btn btn-{% if page_num == page_obj.number %}primary{% else %}outline-secondary {% endif %} mx-1">{{ page_num }}</a>
                        </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a
                                href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if request.GET.diagnosis %}&diagnosis={{ request.GET.diagnosis }}{% endif %}{% if request.GET.population %}&population={{ request.GET.population }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                                class="btn btn-outline-secondary mx-1"><span>&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include "footer.html" %}
{% endblock %}