{% extends "base.html" %}

{% block head_title %}
{{ page.title| title }} - Art Therapy Guide
{% endblock %}

{% block content %}
<div class="container">
    {% if images %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in images %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in images %}
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                <img src="{{ image.image.crop.400x400 }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}
    <h1 class="my-4">{{ page.title | title }}</h1>
    <div class="media shadow p-4 mb-4">
        <div class="media-body">
            <h6 class="text-muted">Posted on: {{ page.updated|date:"DATE_FORMAT" }}</h6>
            <hr>
            <p class="card-text">{{ page.directive_description|safe }}</p>
            <div class="d-flex justify-content-between">
                {% if page.school_url %}
                <a href="{{ page.school_url }}" class="btn btn-primary mb-4">Learn More</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}