{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
Directives - Art Therapy Guide
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="my-4">
    All Directives
  </h1>

  <form method="GET" id="directiveForm" action=".">
    <div class="form-row">
      <div class="form-group col-12">
        <div class="input-group">
          <input class="form-control py-2 border-right-0 border" type="search" name="search"
            placeholder="{% if request.GET.search %}{{ request.GET.search}}{% else %} Search... {% endif %}"
            value="{% if request.GET.search %}{{ request.GET.search}}{% else %} Search... {% endif %}" />
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-search"></i>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      {% comment %} <div class="form-group col-md-4 col-lg-4">
        <label for="publishDateMin">From date</label>
        <input type="date" class="form-control"
          value="{% if request.GET.date_min %}{{ request.GET.date_min}}{% else %}{% endif %}" id="publishDateMin"
          name="date_min">
      </div>
      <div class="form-group col-md-4 col-lg-4">
        <label for="publishDateMax">To date</label>
        <input type="date" value="{% if request.GET.date_max %}{{ request.GET.date_max}}{% else %}{% endif %}"
          class="form-control" id="publishDateMax" name="date_max">
      </div> {% endcomment %}
      <div class="form-group col-md-4">
        <label for="audience">Audience</label>
        <select id="audience" class="form-control" name="audience">
          {% if request.GET.audience %}
          <option value="{{ request.GET.audience}}">{{ request.GET.audience}}</option>
          {% else %}
          {% endif %}
          <option value=""></option>
          {% for aud in audience %}
          <option value="{{ aud }}">{{ aud }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="diagnosis">Diagnosis</label>
        <select id="diagnosis" class="form-control" name="diagnosis">
          {% if request.GET.diagnosis %}
          <option value="{{ request.GET.diagnosis}}">{{ request.GET.diagnosis}}</option>
          {% else %}
          {% endif %}
          <option value=""></option>
          {% for aud in diagnosis %}
          <option value="{{ aud }}">{{ aud }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="population">Population</label>
        <select id="population" class="form-control" name="population">
          {% if request.GET.population %}
          <option value="{{ request.GET.population}}">{{ request.GET.population}}</option>
          {% else %}
          {% endif %}
          <option value=""></option>
          {% for aud in population %}
          <option value="{{ aud }}">{{ aud }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'new_directive_post' %}" class="btn btn-primary">Post</a>
  </form>




  <br>

  <!-- Directive Post -->
  {% for post in posts %}
  <div class="media shadow p-4 mb-4">
    <div class="media-body">
      <h2 class="blog-post-title"><a class="text-reset text-decoration-none"
          href="{% url 'detail_directive_post' uuid=post.uuid %}">{{ post.title }}</a></h2>
      <h6 class="text-muted">Posted on: {{ post.updated|date:"DATE_FORMAT" }}</h6>
      <p class="job-description"><a class="text-reset text-decoration-none"
          href="{% url 'detail_directive_post' uuid=post.uuid %}">{{ post.directive_description|truncatewords_html:80 |safe  }}</a>
      </p>
    </div>
  </div>
  {% endfor %}

  <!-- Pagination -->
  {% if is_paginated %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination justify-content-center mb-4">

          {% if page_obj.has_previous %}
          <li class="page-item"><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
              class="btn btn-outline-secondary mx-1"><span>&laquo;</span></a></li>
          {% endif %}

          {% for page_num in page_obj.paginator.page_range %}
          <li class="page-item"><a href="?page={{ page_num }}"
              class="btn btn-{% if page_num == page_obj.number %}primary{% else %}outline-secondary {% endif %} mx-1">{{ page_num }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"
              class="btn btn-outline-secondary mx-1"><span>&raquo;</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}