{% extends "base.html" %}
{% load static widget_tweaks %}

{% block meta_description %}

{% endblock %}

{% block head_title %}
Directive - Art Therapy Guide
{% endblock %}


{% block content %}

<div class="container my-3">
    <h2 class="mb-3">Create New Directive</h2>
    <h5>General</h5>
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.management_form }}

            <div class="mb-3">
                {{ form.title.label_tag }}
                {% render_field form.title class="form-control" placeholder="" %}
                {% if form.title.help_text %}
                <small class="form-text text-muted">{{ form.title.help_text }}</small>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.intro.label_tag }}
                {% render_field form.intro class="form-control" placeholder="" %}
                {% if form.intro.help_text %}
                <small class="form-text text-muted">{{ form.intro.help_text }}</small>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.population.label_tag }}
                {% render_field form.population class="form-control" placeholder="" %}
                {% if form.population.help_text %}
                <small class="form-text text-muted">{{ form.population.help_text }}</small>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.diagnosis.label_tag }}
                {% render_field form.diagnosis class="form-control" placeholder="" %}
                {% if form.diagnosis.help_text %}
                <small class="form-text text-muted">{{ form.diagnosis.help_text }}</small>
                {% endif %}
            </div>

            {% for hidden in form.hidden_fields %}
            {# Include the hidden fields in the form #}
            {{ hidden.errors.as_ul }}
            {% render_field hidden class="form-control" placeholder="" %}
            {% endfor %}

            <div>
                <h5>Objectives</h5>
                <div class="mb-3">
                    {{ objectiveformset.management_form }}

                    {% for form in objectiveformset.forms %}
                    <div class="objective_formset_row input-group mb-3">
                        {% for field in form.visible_fields %}
                        {{ field.errors.as_ul }}
                        {% render_field field class="form-control" placeholder="" %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                        {# Include the hidden fields in the form #}
                        {{ hidden.errors.as_ul }}
                        {% render_field hidden class="form-control" placeholder="" %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div>
                <h5>Materials</h5>
                <div class="mb-3">
                    {{ materialformset.management_form }}

                    {% for form in materialformset.forms %}
                    <div class="material_formset_row input-group mb-3">

                        {% for field in form.visible_fields %}
                        {{ field.errors.as_ul }}
                        {% render_field field class="form-control" placeholder="" %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                        {# Include the hidden fields in the form #}
                        {{ hidden.errors.as_ul }}
                        {% render_field hidden class="form-control" placeholder="" %}
                        {% endfor %}

                    </div>
                    {% endfor %}
                </div>

            </div>
            <div>
                <h5>Instructions</h5>
                <div class="mb-3">
                    {{ instructionformset.management_form }}

                    {% for form in instructionformset.forms %}
                    <div class="instruction_formset_row input-group mb-3">
                        {% for field in form.visible_fields %}
                        {{ field.errors.as_ul }}
                        {% render_field field class="form-control" placeholder="" %}
                        {% endfor %}

                        {% for hidden in form.hidden_fields %}
                        {# Include the hidden fields in the form #}
                        {{ hidden.errors.as_ul }}
                        {% render_field hidden class="form-control" placeholder="" %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-3">
                <h5>Discucssion</h5>
                {% render_field form.discussion class="form-control" placeholder="" %}
                {% if form.discussion.help_text %}
                <small class="form-text text-muted">{{ form.discussion.help_text }}</small>
                {% endif %}
            </div>
            <h5>Images</h5>
            <p>First image in the list will be the primary image.</p>
            <div class="mb-3">
                {{ imageformset.management_form }}

                {% for form in imageformset.forms %}
                <div class="image_formset_row input-group mb-3">
                    {% for field in form.visible_fields %}
                    {{ field.errors.as_ul }}
                    {% render_field field class="form-control" placeholder="" %}
                    {% endfor %}

                    {% for hidden in form.hidden_fields %}
                    {# Include the hidden fields in the form #}
                    {{ hidden.errors.as_ul }}
                    {% render_field hidden class="form-control" placeholder="" %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('.objective_formset_row').formset({
            prefix: '{{ objectiveformset.prefix}}',
            formCssClass: 'dynamic-objective-form',
            addCssClass: 'btn btn-primary',
            deleteCssClass: 'btn btn-danger objectivebtn',
            addText: '+', // Text for the add link
            deleteText: '-', // Text for the delete link
        });
        $('.material_formset_row').formset({
            prefix: '{{ materialformset.prefix}}',
            formCssClass: 'dynamic-material-form',
            addCssClass: 'btn btn-primary',
            deleteCssClass: 'btn btn-danger materialbtn',
            addText: '+', // Text for the add link
            deleteText: '-', // Text for the delete link
        });
        $('.instruction_formset_row').formset({
            prefix: '{{ instructionformset.prefix}}',
            formCssClass: 'dynamic-instruction-form',
            addCssClass: 'btn btn-primary',
            deleteCssClass: 'btn btn-danger instructionbtn',
            addText: '+', // Text for the add link
            deleteText: '-', // Text for the delete link

        });
        $('.image_formset_row').formset({
            prefix: '{{ imageformset.prefix}}',
            formCssClass: 'dynamic-image-form',
            addCssClass: 'btn btn-primary',
            deleteCssClass: 'btn btn-danger imagebtn',
            addText: '+', // Text for the add link,
            deleteText: '-', // Text for the delete link
        });
    });
</script>
{% endblock %}

{% block extra_script %}
{% endblock extra_script %}