{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block head_title %}
{% if self.seo_title %}{{ self.seo_title }}
{% else %}{{ self.title }}
{% endif %}
{% with self.get_site.site_name as site_name %}
{% if site_name %}- {{ site_name }}
{% endif %}
{% endwith %}
{% endblock %}

{% block meta_description %}
{{ self.search_description }}
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="my-4">
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endif %}
    </h1>
    <div class="shadow p-4 mb-4">
        <p>{{ page.thank_you_text|richtext }}</p>
    </div>
</div>
{% endblock %}