* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.carousel-item {
    width: 100%;
    /*width you want*/
    height: 500px;
    /*height you want*/
    overflow: hidden;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.navbtn {
    color: white !important;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    color: #43464C;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: small;
    background-color: #BABFA8;

}

.btn-primary {
    background-color: #75764C;
    border: 0px
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: #939460;
    border: 0px
}

.btn-secondary {
    background-color: #c4b071;
    border: 0px
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
    background-color: #d6c17b;
    border: 0px
}

.btn-danger {
    background-color: #e45e3d;
    border: 0px
}

.btn-danger:focus,
.btn-danger:active,
.btn-danger:hover {
    background-color: #f36643;
    border: 0px
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(241, 241, 241, 0.9);
    width: 100%;
    height: 100%;
}

.badge-primary:focus,
.badge-primary:active,
.badge-primary:hover {
    background-color: #939460;
    font-family: 'Roboto', sans-serif;
}

.badge-primary {
    background-color: #75764C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    height: 5px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: #000000;
}



.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.1em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: .75rem;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}


.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}