{% extends "base.html" %}
{% block meta_description %}The Art Therapy Guide is intended to be a place to share ideas, problems and solutions
within the art therapy community.{% endblock %}
{% block head_title %}About - Art Therapy Guide{% endblock %}
{% load static %}
{% block content %}

{% include "navbar.html" %}

<div class="white main">
    <div class="container">
        <div class="row py-5">
            <h2 class='display-4 text-center'>Resources</h2>
        </div>
        <div>
            <h3>
                <a class='link-dark' href="https://www.psychologytoday.com/">
                    Psychology Today
                </a>
            </h3>
            <p>
                Many clients that are looking for a therpaist use Phycology Today's therapist finder to search for
                providers in their area. We highly reccomend setting up a profile with as much information about your
                practice as is relevant.
            </p>
        </div>
        <div>
            <h3>
                <a class='link-dark' href="https://arttherapy.org/">
                    American Art Therapy Association
                </a>
            </h3>
            <p>
                The American Art Therapy Association has many tools and resources such as an academic journal, tools for
                your career, and guides to gaining licencure. In addition they host a variety of events and trannings to
                enable you to connect with colleagues and keep up with new tools and techniques.
            </p>
        </div>
        <div>
            <h3>
                <a class='link-dark' href="https://www.atcb.org/">
                    Art Therapy Credentials Board
                </a>
            </h3>
            <p>
                They do much more than just credentials! Trainning, and other resources are avalible here as well.
            </p>
        </div>
        <div>
            <h3>
                <a class='link-dark' href="https://www.trackyourhours.com/">
                    Track Your Hours
                </a>
            </h3>
            <p>
                An excelent tool for any aspiring MFT or ATR-BC that enables you to track your client contact and
                supervision hours for licencure in
                CA, NY, or TX.
            </p>
        </div>
    </div>
</div>


{% include "footer.html" %}

{% endblock %}