{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
404 - Art Therapy Guide
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="main">
    <div class="col-md-6 offset-md-3 p-4 mb-5">
        <div class="border rounded-lg p-3 shadow">
            <h1 class="d-flex justify-content-center">{% trans "Page not found" %}</h1>
            <h2 class="d-flex justify-content-center">Sorry, this page could not be found.</h2>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}