{% load static i18n %}

<nav class="navbar py-4 navbar-expand-lg navbar-dark" style="background-color: #2f54af;">
    <div class="container">
        <a class="navbar-brand 	d-none d-sm-block" href="{% url 'home' %}">
            <img src="{% static 'atglogoyellow.png' %}" alt="" width="" height="70">
        </a>
        <a class="navbar-brand 	d-block d-sm-none" href="{% url 'home' %}">
            <img src="{% static 'atglogoyellow.png' %}" alt="" width="" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'resources' %}">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'list_directive_post' %}">Directives</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_logout' %}">{% trans "Log Out" %}</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
                </li>
                {% endif %}
            </ul>


        </div>
    </div>

</nav>